@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

:root{
    --font-inter: 'Inter', sans-serif;
    --font-lora: 'Lora', serif; ;
    --text-color: #252525;
    --primary-color: #19355A;
    --secondary-color: #13488C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: #fff;
}

header {
    text-align: center;
    margin-top: 78px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 10%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 718px;
}

.apresentacao__conteudo img {
    width: 430px;
}

.apresentacao__conteudo__titulo {
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    font-family: var(--font-lora);
    color: var(--text-color);
}

.titulo-destaque{
    color:#13488C;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    text-align: left;
    font-weight: mixed;
    font-family: var(--font-inter);
    color: var(--text-color);
}

.apresentacao__conteudo div p{
    color:#13488C;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}   

.equipes {
    padding: 10%;
    background-color: #162E4E;
}

.equipes__conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.equipes__titulo {
    font-family: var(--font-lora);
    font-size: 44px;
    font-weight: 600;
    line-height: 59px;
    text-align: left;   
    width: 465px; 
    color: #fff;
}

.equipes__texto {
    width: 677px;
    font-family: var(--font-inter);
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    text-align: right;
    color: #fff;
}

.equipes__lista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 10rem;
}

.cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.apresentacao__cursos {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cursos__titulo {
    color: #162E4E;
    font-family: var(--font-lora);
    font-size: 48px;
    font-weight: 600;
}

.cursos__texto {
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 743px;
}

.lista__cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 2rem 5rem 2rem;
    gap: 50px;
}

.cursos__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #13488C;
    background: #162E4E;
    padding: 1rem;
}   

.modal-conteudo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.modal-conteudo_curso {
    font-size: 16px;
    font-family: var(--font-inter);
}

.modal-conteudo_curso_nome {
    width: 197px;
    font-family: var(--font-inter);
    font-size: 16px;
}
.icon-modal {
    width: 35px;
    height: 35px;
}

.texto-modal {
    width: 247px;
    color: #FFF;
    font-family: var(--font-inter);
    font-size: 15px;
    font-weight: 600;

}


.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19355A;
    padding: 0 5%;
}

.rodape__logo {
    width: 200px;
}

.rodape__direitos {
    color: #fff;
    font: var(--font-inter);
    margin-top: 10px;
}

.rodape__conteudo__social {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.social__lista {
    display: flex;
    list-style: none;
    gap: 20px;    
}

.item__social {
    width: 32px;
}

@media screen and (max-width: 1024px) {
    .apresentacao img {
        display: none;
    }
    .apresentacao__conteudo__titulo {
        text-align: center;
    }
    .apresentacao__conteudo__texto {
        text-align: center;
    }
    .apresentacao__conteudo div p {
        text-align: center;
    }
    .equipes__conteudo {
        flex-direction: column;
        gap: 20px;
    }
    .equipes__titulo {
        width: 613px;
        font-size: 38px;
        text-align: center;
    }
    .equipes__texto {
        width: 662px;
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 746px) {
    .cursos__texto {
        width: 100%;
    }
    .equipes__titulo {
        width: 100%;
    }
    .equipes__texto {
        width: 100%;
    }
    .rodape__direitos {
        font-size: 12px
    }
}

@media screen and (max-width: 720px) { 
    .rodape {
        flex-direction: column;
    }
    .rodape__direitos {
        display: none;
    }
    .rodape__conteudo__social {
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 428px) {
    header img  {
        width: 200px;
    }
    .apresentacao__conteudo__titulo {
        font-size: 20px;
    }

    .apresentacao__conteudo__texto {
        font-size: 16px;
    }
    .apresentacao__conteudo div p {
        font-size: 16px;
    }

    .equipes__titulo {
        font-size: 18px;
    }
    .equipes__texto {
        font-size: 14px;
        margin-bottom: 2rem;
    }
    .cursos__titulo {
        font-size: 24px;
    }
    .cursos__texto {
        font-size: 16px;
    }
    .cursos__item {
    width: 276px;
    }
    .texto-modal {
        display: none;
    }
    .modal-body-data-horario {
        text-align: center;
    }

}